.c-weather {
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-content: space-between;

    width: 100%;
    min-height: 100vh;

    padding-bottom: 56px;

    box-sizing: border-box !important;
    overflow: hidden;
}

.c-weather__img {
    position: absolute;
    display: block;

    top: -5%;
    bottom: 0%;
    right: -50%;

    width: auto;
    height: 40%;

    overflow-x: hidden !important;
    box-sizing: border-box;
}

.c-weather__temp {
    font-size: 110px;
    line-height: 143px;
    font-weight: 300;
}

.c-weather__title {
    font-size: 34px;
    line-height: 44px;
    font-weight: 300;
}

.c-weather__title--icon {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.c-weather__time {
    font-size: 23px;
    line-height: 30px;
    opacity: .7;

    margin-bottom: 56px;
}

.c-weather__icon {
    width: 27px;
    height: 16px;
}

.c-weather--button {
    border: unset;
    margin: unset;
    padding: unset;
    background: unset;
}